body{
	background-image: url("https://cdn.pixabay.com/photo/2016/05/28/00/06/gift-1420830__480.jpg");
		font-family: 'Brush Script MT', cursive;
   background-repeat: no-repeat;
   background-size: cover;
}


  .login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
	width: 500px;
	height: 300px;
}
#hh{
	color: white;
	font-size: 70px;
}
#login_button{
	background-color: rgb(36, 35, 35);
	height: 40px;
	width: 90px;
	color: white;
	font-size: 20px;
}
#username{
	font-size: 25px;
}